body {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
  background: linear-gradient(271deg, #2458c3, #c11e1e, #2f1d1d);
  background-size: 600% 600%;

  -webkit-animation: linearGradient 14s ease infinite;
  -moz-animation: linearGradient 14s ease infinite;
  -o-animation: linearGradient 14s ease infinite;
  animation: linearGradient 14s ease infinite;
}

@-webkit-keyframes linearGradient {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@-moz-keyframes linearGradient {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@-o-keyframes linearGradient {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@keyframes linearGradient {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.particles {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}
